.center {
    margin: auto;
    width: 60%;
    border: 3px;
    padding: 10px;
}

.centertext {
    text-align: center;
    border: 3px;
}

.button {
    background-color: #778899;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: serif; "Garamond";
    margin: 4px 2px;
    cursor: pointer;
}

a.mainNav:link    {
  /* Applies to unvisited links of class mainNav */
  text-decoration:  none;
  font-weight:      bold;
  background-color: #ddd;
  color:            blue;
  }
a.mainNav:visited {
  /* Applies to visited links of class mainNav */
  text-decoration:  none;
  font-weight:      bold;
  background-color: #ddd;
  color:            #f0f;
  }
a.mainNav:hover   {
  /* Applies to links under the pointer of class mainNav */
  text-decoration:  underline;
  font-weight:      bold;
  background-color: blue;
  color:            #fff;
  }
a.mainNav:active  {
  /* Applies to activated links of class mainNav */
  text-decoration:  underline;
  font-weight:      bold;
  background-color: black;
  color: white;
  }

body
{
  font-family: serif; "Garamond";
  font-size: 12pt;

}

div
{

  font-family: serif; "Garamond";
  font-size: 12pt;

}
