.center {
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 10px;
}

.centertext {
    text-align: center;
    border: 3px;
}

p.indent {
    text-indent: 50px;
}

button {
  background-color: #778899;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-family: serif; "Garamond";
  margin: 4px 2px;
  cursor: pointer;
}
.mbutton {
  display: none;
}

@media only screen and (min-width: 768px) {
  .mbutton {
    background-color: #778899;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: serif; "Garamond";
    margin: 4px 2px;
    cursor: pointer;
}}

body
{
  font-family: serif; "Garamond";
  font-size: 12pt;

}

div
{

  font-family: serif; "Garamond";
  font-size: 12pt;

}

#container {
	margin: auto;
}

#primary_nav_wrap
{
	margin-top:15px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:serif; "Garamond";
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 10px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display: block;
}



@media only screen and (min-width: 768px) {
  li {
    display: none;
  }
#primary_nav_wrap ul li:hover > ul
{
	display:none;
}}
