div.center {
    margin: auto;
    width: 60%;
    border: 3px;
    padding: 10px;
}

p.centertext {
    text-align: center;
    border: 3px;
}

body
{
  font-family: serif; "Garamond";
  font-size: 12pt;

}

div
{

  font-family: serif; "Garamond";
  font-size: 12pt;

}
